<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="16.7.0-preview-20200519-01" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.7.0-preview-20200519-01" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0-preview.7.20364.11" targetFramework="net461" />
  <package id="Microsoft.TestPlatform" version="16.7.0-preview-20200519-01" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
</packages>