<div class="container-fluid bg-primary">
    <div class="light-blue darken-3 white-text">        
        <h4 class="title " id="myModalLabel"><img src="~/Imagenes/CodeQrBlanco.png" width="70"/> @ViewBag.Message </h4>
    </div>
</div>


