<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atk_wsChklstProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Atk_wsChklstProgram.Properties.Settings>
            <setting name="ServerSql" serializeAs="String">
                <value>EST02DB</value>
            </setting>
            <setting name="BDSql" serializeAs="String">
                <value>TpmMtto</value>
            </setting>
            <setting name="UserSql" serializeAs="String">
                <value>TpmManto</value>
            </setting>
            <setting name="PwdSql" serializeAs="String">
                <value>Tpmsql2019</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>miguel.jimenez@magna.com</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>miguel.jimenez@magna.com</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Programacion de Checklist</value>
            </setting>
            <setting name="HoraEjecu" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RutaLog" serializeAs="String">
                <value>c:\atkApps\Atk_wsCheckListProg\Log\LogCkLstProg.txt</value>
            </setting>
            <setting name="Planta" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Depto" serializeAs="String">
                <value>PREN</value>
            </setting>
            <setting name="CtroCostos" serializeAs="String">
                <value>*</value>
            </setting>
        </Atk_wsChklstProgram.Properties.Settings>
    </userSettings>
</configuration>