@{
    ViewBag.Title = "Departamento de TI";
    ViewBag.Message = "Datos del área de soporte";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Direccion:</strong>
    <br />
    Prol.Calle "F" No. 50<br />
    Parque Indust. Puebla 2000 CP. 72226<br />
    Puebla México.<br />
    <abbr title="Teléfono">Tel:</abbr>
    222-223-2700<br />
    <abbr title="Celular">Cel:</abbr>
    222-358-2328
</address>


<strong>Soporte de O&I:</strong>   <a href="888.soporteatk@magna.com">888.soporteatk@magna.com</a><br />

<h3>Desarrollo de Sistemas de Información</h3>
<address>

    <strong>Direcciones de correo: </strong> <br />
    <ul>
        <li><a href="Miguel.Peralta@magna.com">Miguel.Peralta@magna.com</a>   </li>
        <li><a href="Samuel.Bazan@magna.com">Samuel.Bazan@magna.com</a>   </li>
        <li><a href="Pedro.Sevilla@magna.com">Pedro.Sevilla@magna.com</a>   </li>
    </ul>
</address>