@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <h1>Autotek Industrial de México</h1>
    <p><a href="https://www.incosma.com/sites/autotek/default.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
